@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap');






body{
  background: url(frunze.jpg);
    background-size: cover;
    font-family: "Open Sans";
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   overflow: hidden;


   /* CSS VARIABELS */

   --primary-1-color:  #00796b;
   --primary-2-color: #fff;
}

/*  TASKBAR STYLES CSS   */

.sidebar{
  height: 100vh;
  min-height: 500px;
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-1-color);
  overflow: hidden;
  transition: width 0.2s;
}

.sidebar:hover{
  width: 200px;
  overflow: visible;
}

img.logo{
  width: 50px;
  padding: 0 4px;
  margin: 30px 2px;
}

nav{
  height: 60vh;
  min-height: 300px;
}

ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}



li a{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary-2-color);
}

i.fas{
  font-size: 20px;
  text-align: right;
  padding-right: 20px;
}

li{
  list-style: none;
}

li p {
  width: 75px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.3px;
}

.fa-moon{
  left: -15px;
  position: relative;
}

.fa-question-circle{
  left: -10px;
  position: relative;
}

.searchSummary{
  color: #4778FF;
  font-family: "Poppins";
  display: none;
  cursor: pointer;
}

.brunoMessage{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 60%;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  bottom: 900px;
  left: 320px;
  padding: 20px;
  z-index: 10;
  display: none;
}

.brunoMessage h1{
  color: #09bfe8;
  font-weight: 900;
}

.brunoMessage h3{
  display: none;
}

details > summary::-webkit-details-marker {
  display: none;
}




.fa-folder-open::before{
  content: '\f07c';
  font-family: "Font Awesome 5 Free";
  color: var(--primary-2-color);
  font-size: 22px;
}


.fa-cog::before{
  content: '\f013';
  font-family: "Font Awesome 5 Free";
  color: var(--primary-2-color);
  font-size: 22px;
  position: relative;
  left: -15px;
}


.icon1{
  position: relative;
  width: 5%;
  height: 5%;
  cursor: pointer;
  left: 115px;
  bottom: 9px;
  padding: 7px;
}

.fa-question-circle{
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.helpButton{
  margin: 0px 20px 18px 0px;
  outline: none;
  background-color:  darkblue;
  border: none;
  border-radius: 5px;
  position: relative;
  bottom: 3.5px;
  width: 35px;
float: right;
margin-top: 10px;
}

.openApps{
  position: relative;
  width: 75%;
  height: 30px;
  cursor: pointer;
  left: 215px;
  bottom: 130px;
  padding: 7px;

}





.content{
  color: var(--primary-2-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  padding: 5px;
  line-height: 23px;
}

#clock{
  position: relative;
  width: 10%;
  margin: 0px 10px 0px 0px;
  padding: 5px 0px 5px 0px;
  background-color:#71F594;
  height: 20px;
 bottom: 210px;
 float: right;
 font-family: 'Poppins', sans-serif;
 font-weight: 300;
 font-size: 20px;
 color: var(--primary-2-color);
 text-align: center;
 border-radius: 5px;
}


.icon2{
  position: relative;
  width: 5%;
  height: 5%;
  cursor: pointer;
  left: 120px;
  bottom: 9px;
  padding: 7px;
}


.imageHoverIcons{
  width: 70px;
  height: 58px;
  background: url(controlPanel-icon.png);
  border-radius: 5px;
  position: relative;
  left: 75%;
  top: -3%;
}



/* MODALS CSS */

.image-modal{
  width: 100%;
 border-radius: 5%;
}



.imageHeading{
  position: absolute;
  top: 100%;
 max-width: 50%;
 margin: 20px;
 color: var(--primary-2-color);
 font-family: 'Comic Neue', cursive;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close, .close-2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.close-2:hover,
.close-2:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  z-index: 99999999999999999;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 
}
















.icon2:hover{
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.icon1:hover{
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

.closeButton{
  padding: 10px;
  background: #12593D;
  width: 100%;
  height: 5%;
  border-top-left-radius: 25px;
}

.fa-times-circle{
  color:#ff1a1a;
  font-size: 25px;
  background-color: var(--primary-2-color);
  border-radius: 50%;
  cursor: pointer;
}

/* SNAKE GAME CSS */


#game-board {
  background-color: #CCC;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: hsl(200, 100%, 50%);
  border: .25vmin solid black;
}

.food {
  background-color: hsl(50, 100%, 50%);
  border-radius: 50%;
}


.startButton{
  width: 10%;
  height: 10%;
  cursor: pointer;
  padding: 4px 10px 10px 2px;
}

.mainInputContainer{
  display: flex;
  width: 60%;
 left: 225px;
  bottom: 35px;
  position: relative;
    top: -800px;
}

.inputButton{
  background-color: #71F594;
  width: 8%;
  height: 50px;
  position: relative;
  bottom: 3.5px;
  left: 80px;
  top: -155px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.homeButton{
  margin: 0px 20px 18px 0px;
  outline: none;
  background-color:  darkblue;
  border: none;
  border-radius: 5px;
  position: relative;
  bottom: 3.5px;
  width: 35px;
  float: right;
  margin-top: 10px;
}

.startMenu{
    z-index: 1;
  background: #26BF82;
  width: 600px;
  height: 100vmin;

 position: relative;
 left: 930px;
 top: -135px;

  border-top-left-radius: 25px;
  display: none;

}

.importantMenu{
  background-color: #1F9968;
  position: relative;
  width: 300px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  top: 50px;
}

.contentNormalMenu{

  position: relative;
  width: 200px;
  height: 350px;
  margin: 20px;
  border-radius: 10px;
  top: -375px;
  float: right;
}

h5{
  text-align: center;
  font-size: 21px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

.fa-home{
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.fa-arrow-right{
  color: white;
  font-size: 16px;
}

.mainInput[type=text]{
  height: 40px;
  width: 1500px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: white;
  position: relative;
  top: -150px;
  left: 100px;
}
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    width: 100%;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  header{
    width: 95%;
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }

  .mainInput::placeholder{
color: teal;
font-family: sans-serif;
font-weight: 600;
  }


  
  



#snakeGame{
  display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

#mazeGame{
  display: none;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: white;
    text-align: end;


  }
  

  
#mydiv1 {
  position: absolute;
  z-index: 9;
  background-color: white;
  text-align: end;


}

  #mydivheader {
    padding: 10px;
    cursor: auto;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4) ; 
    color: var(--primary-2-color);
    border-radius: 10px 10px 0px 0px;
 
  }

  .fa-times::before {
    content: "\f00d";
    font-family: fontAwesome;

   color:var(--primary-2-color);
   padding: 10px;

transition: 0.5s;
   font-size: 20px;


}

.fa-times:hover::before {
  content: "\f00d";
  font-family: fontAwesome;
 background-color: red;
 color: var(--primary-2-color);
 padding: 10px;
transition: 0.5s;

 font-size: 25px;
 cursor: pointer;
}

.fa-window-restore::before {
  content: "\f2d2";
  font-family: fontAwesome;

 color: var(--primary-2-color);
 padding: 5px;
transition: 0.5s;
 font-size: 20px;
 cursor: pointer;


}

.fa-window-maximize::before {
  content: "\f2d0";
  font-family: fontAwesome;

 color: var(--primary-2-color);
 padding: 5px;
transition: 0.5s;
 font-size: 20px;
 cursor: pointer;


}

.fa-window-maximize:hover::before {
  content: "\f2d0";
  font-family: fontAwesome;
 background-color: teal;
 color: var(--primary-2-color);
 padding: 10px;
transition: 0.5s;

 font-size: 25px;
 cursor: pointer;
}

.fa-window-restore:hover::before {
  content: "\f2d2";
  font-family: fontAwesome;
 background-color: teal;
 color: var(--primary-2-color);
 padding: 10px;
transition: 0.5s;

 font-size: 25px;
 cursor: pointer;
}

.fa-window-minimize::before {
  content: "\f2d1";
  font-family: fontAwesome;

 color: var(--primary-2-color);
 padding: 5px;
transition: 0.5s;
 font-size: 20px;
 cursor: pointer;

}




.fa-window-minimize:hover::before {
  content: "\f2d1";
  font-family: fontAwesome;

 color: var(--primary-2-color);
 padding: 10px;
transition: 0.5s;
 font-size: 25px;
 cursor: pointer;
background-color: lightblue;
}









/* MEDIA QUERIES */

@media (max-width: 1030px){
  .mainInput[type=text]{
    width: 1200px;
    left: 100px;
  }
}

@media (max-width: 870px){
  .mainInput[type=text]{
    width: 900px;
    left: 30px;
  }
}